/*Home Page*/
.white-box {
	background-color: #edf1f5;
	padding: 25px;
	margin-bottom: 15px;
	border: 1px solid;
	border-radius: 4px;
}

.white-box .box-title {
	margin: 0 0 12px;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 14px
}

.container-fluid {
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 15px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3,
	.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
	.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3,
	.col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
	.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
	.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
	.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3,
	.col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-left: 7.5px;
	padding-right: 7.5px
}

.row {
	margin-right: -7.5px;
	margin-left: -7.5px
}

.text-danger {
	color: #FF6384!important;
/* 	color:red!important; */
}

.text-megna {
	color: #36A2EB!important;
/* 	color: blue!important; */
}

.text-primary, .text-purple {
	color: #FFCD56!important;
/* 	color: yellow!important; */
}


@
-webkit-keyframes myanimation {
	from {width: 0
}

}
@
keyframes myanimation {
	from {width: 0
}

}

/* #wrapper {
	width: 100%
}

#page-wrapper {
	padding: 0 0 60px;
	min-height: 568px;
	background: #edf1f5
} */

/* Chart */
.chart-wrapper{
	display: block;
    width: 100%;
    height: 230px;
}

/* Chart center */
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}