#login-container {
	margin-top: 150px;
}

.header{
	position: relative;
	width: 100%;
/* 	background-image: url("../images/WhiteBackground.jpg"); */
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	background-color: #F8F8F8;
	color: #36454f;
	text-align: center;
}

#nav-buttons {
	width: 100%;
	position: relative;
	left: 10px;
	display: block;

}

.btn{
	margin-top: 10px;
}

.login-error::before {
	visibility: hidden;
}

.alert-account {
	content: attr(data-validate);
	display: block;
	background-color: #fff;
	border: 1px solid #c80000;
	border-radius: 3px;
	padding: 4px 25px 5px 10px;
	top: 50%;
	right: 12px;
	font-family: Ubuntu-Regular;
	color: #c80000;
	font-size: 14px;
	line-height: 1.4;
	text-align: left;
	visibility: visible;
}

.table-width-outter {
	width: 100%;
	position: relative;
	align: center;
}

.table-width-inner {
	padding: 5px 5px;
	position: relative;
	align: center;
}

.btn-primary-c {
	visibility: hidden;
}

.btn-primary-r {
	visibility: hidden;
}

.visible-r {
	color: white;
	visibility: visible;
}

.visible {
	background-color: #B22222;
	color: white;
	visibility: visible;
}

.center-box {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99;
	margin: auto;
	height: 200px;
	width: 200px;
	border: 1px solid #000;
	text-align: center;
	line-height: 200px;
}

.notifyjs-foo-base {
	/* width: 310px;
	background: #F1DEDF;
	padding: 5px;
	border-radius: 10px; */
	color: #3A87AD;
	border-color: #BCE8F1;
	background-color: #D9EDF7;
	background-image: url("../images/icons/info-icon.png");
	
	font-weight: bold;
	padding: 8px 15px 8px 14px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border: 1px solid;
	border-radius: 4px;
	white-space: nowrap;
	padding-left: 25px;
	background-repeat: no-repeat;
	background-position: 3px 7px;
}
/*
.notifyjs-foo-base .title {
	width: 200px;
	float: left;
	margin: 10px 0 0 10px;
	text-align: center;
}*/
/*
.notifyjs-foo-base .buttons {
	width: 70px;
	float: right;
	font-size: 12px;
	padding: -5px;
	padding-top: 10px;
	margin: 2px;
}*/

.notifyjs-foo-base button {
	color: #3A87AD;
	font-weight: bold;
	background-color: lightblue;
	
	font-size: 12px;
	padding: 5px;
	margin: 2px;
	width: 50%;
/* 	width: 90px; */
} 

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-log-out{
	content: url("../images/icons/logout.png");
}

.form-fill-error{
	border-color: red!important;
}